{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ good.name }} :: {{ good.category.name }}{% endblock %}
{% block main %}
    <p class="name">{{ good.name }}</p>
    <p class="name"><img src={% static good.get_image %} width="150" height="150"></p>
    <p class="category">Категория товара: {{ good.category.name }}</p>
    <h5>Описание товара:</h5>
    <p class="description">{{ good.description|linebreaksbr }}</p>
    <p>Стоимость: <b>{% if not good.price > 0 %}Цена не указана{% else %}{{ good.price }} руб.{% endif %}</b></p>
    <p class="not-in_stock">{% if not good.in_stock %}Нет в наличии!{% endif %}</p>
    <p><a href="{% url "index" id=good.category.id %}?page={{ pn }}">Назад</a></p>
{% endblock %}