{% extends "base.html" %}
{% block title %}{{ good.name }} :: {{ good.category.name }}{% endblock %}
{% block main %}
    <h2>{{ good.name }}</h2>
    <p class="category">Категория товара: {{ good.category.name }}</p>
    <h5>Описание товара:</h5>
    <p class="description">{{ good.description|linebreaksbr }}</p>
    <p>Стоимость: <b>{% if not good.price > 0 %}Цена не указана{% else %}{{ good.price }} руб.{% endif %}</b></p>
    <p class="not-in_stock">{% if not good.in_stock %}Нет в наличии!{% endif %}</p>
    <p><a href="/goods/{{ good.category.id }}/">Назад</a></p>
{% endblock %}