{% extends "base.html" %}
{% block title %}{{ category.name }}{% endblock %}
{% block main %}
    <h2>{{ category.name }}</h2>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Стоимость</th>
            <th>Есть в наличии</th>
        </tr>
        {% for good in goods %}
            <tr>
                <td><a href="/goods/good/{{ good.id }}/">{{ good.name }}</a></td>
                <td>{% if not good.price > 0 %}Цена не указана{% else %}{{ good.price }}{% endif %}</td>
                <td class="centered">{% if good.in_stock %}Да{% else %}Нет{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}